"""Data classes and types from the JSON-RPC."""

# flake8: noqa
from dataclasses import dataclass
from enum import StrEnum, IntEnum
from typing import Any, Literal, Optional, TypeAlias, TypeVar

from dacite import from_dict as __from_dict
from dacite import Config as _Config

from ._utils import camel2snake_dict as _camel2snake_dict

_config = _Config(cast=[StrEnum], type_hooks={})
_T = TypeVar("T")
def _from_dict(typ: type[_T], data: dict) -> _T:
    return __from_dict(typ, _camel2snake_dict(data), _config)

class ContactFlag(IntEnum):
    """Contact flags used for filtering"""

    VERIFIED_ONLY = 0x01
    ADD_SELF = 0x02


class ChatlistFlag(IntEnum):
    """Chatlist flags used for filtering"""

    ARCHIVED_ONLY = 0x01
    NO_SPECIALS = 0x02
    ADD_ALLDONE_HINT = 0x04
    FOR_FORWARDING = 0x08


class SpecialContactId(IntEnum):
    """Special contact IDs"""

    SELF = 1
    INFO = 2  # centered messages as "member added", used in all chats
    DEVICE = 5  #  messages "update info" in the device-chat
    LAST_SPECIAL = 9


class MessageState(IntEnum):
    """State of the message."""

    UNDEFINED = 0
    IN_FRESH = 10
    IN_NOTICED = 13
    IN_SEEN = 16
    OUT_PREPARING = 18
    OUT_DRAFT = 19
    OUT_PENDING = 20
    OUT_FAILED = 24
    OUT_DELIVERED = 26
    OUT_MDN_RCVD = 28


{% for name, schema in generator.schemas.items() %}

{{ generator.generate_type(name, schema) }}
{% endfor %}
